/*
 ######   ######## ########     ###    ##       
 ##    ##  ##       ##     ##   ## ##   ##       
 ##        ##       ##     ##  ##   ##  ##       
 ##   #### ######   ########  ##     ## ##       
 ##    ##  ##       ##   ##   ######### ##       
 ##    ##  ##       ##    ##  ##     ## ##       
  ######   ######## ##     ## ##     ## ######## 
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: cornsilk;
  }

/*Container 1*/
.container{
    text-align: center;
    margin-top: 10%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h1{
    font-size: 3em !important;
}

h2{
    font-size: 2em !important;
}

li{
    font-size: 1em !important;
}

/*

########     ###     ######  ##    ##    ########  #######     ########  #######  ########  
##     ##   ## ##   ##    ## ##   ##        ##    ##     ##       ##    ##     ## ##     ## 
##     ##  ##   ##  ##       ##  ##         ##    ##     ##       ##    ##     ## ##     ## 
########  ##     ## ##       #####          ##    ##     ##       ##    ##     ## ########  
##     ## ######### ##       ##  ##         ##    ##     ##       ##    ##     ## ##        
##     ## ##     ## ##    ## ##   ##        ##    ##     ##       ##    ##     ## ##        
########  ##     ##  ######  ##    ##       ##     #######        ##     #######  ##        

*/

#back-to-top{
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: rgb(110, 110, 185); 
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 100%; 
    font-size: 18px; 
}

#back-to-top:hover {
    background-color: rgb(187, 187, 255); 
  }


/*

########     ###    ########     ###    ##       ##          ###    ##     ## 
##     ##   ## ##   ##     ##   ## ##   ##       ##         ## ##    ##   ##  
##     ##  ##   ##  ##     ##  ##   ##  ##       ##        ##   ##    ## ##   
########  ##     ## ########  ##     ## ##       ##       ##     ##    ###    
##        ######### ##   ##   ######### ##       ##       #########   ## ##   
##        ##     ## ##    ##  ##     ## ##       ##       ##     ##  ##   ##  
##        ##     ## ##     ## ##     ## ######## ######## ##     ## ##     ## 

*/

    body {
        -webkit-perspective: 1px;
        perspective: 1px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    
        overflow-y: scroll;
        overflow-x: hidden;
      }
      header {
        box-sizing: border-box;
        min-height: 40vw;
        padding: 30vw 0 5vw;
        position: relative;
        -webkit-transform-style: inherit;
        transform-style: inherit;
        width: 100vw;
      }
      header, header:before {
        background: 50% 50% / cover;
      }
      header::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background-image: url(http://ksk-soft.com/css_labo/dimg/orengeFlower.jpg);
        background-size: cover;
        -webkit-transform-origin: center center 0;
        -webkit-transform: translateZ(-1px) scale(2);
        transform-origin: center center 0;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
        min-height: 100vh;
      }
    
      header {
        font-weight: normal;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 0;
        padding: 1em 0;
      }
      header p {
        background-color: hsla(0, 0%, 100%,0.1);
      }
    
      .parallax{
          margin-top: 40%;
          color: #fff;
      }
    
    

/*

########  ########   #######  ########  ########   #######  ##      ## ##    ## 
##     ## ##     ## ##     ## ##     ## ##     ## ##     ## ##  ##  ## ###   ## 
##     ## ##     ## ##     ## ##     ## ##     ## ##     ## ##  ##  ## ####  ## 
##     ## ########  ##     ## ########  ##     ## ##     ## ##  ##  ## ## ## ## 
##     ## ##   ##   ##     ## ##        ##     ## ##     ## ##  ##  ## ##  #### 
##     ## ##    ##  ##     ## ##        ##     ## ##     ## ##  ##  ## ##   ### 
########  ##     ##  #######  ##        ########   #######   ###  ###  ##    ## 
*/

.dropbtn {
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #969696;
}

/*

                                                                                    
 #####  #####    ##    ####       ##   #    # #####     #####  #####   ####  #####  
 #    # #    #  #  #  #    #     #  #  ##   # #    #    #    # #    # #    # #    # 
 #    # #    # #    # #         #    # # #  # #    #    #    # #    # #    # #    # 
 #    # #####  ###### #  ###    ###### #  # # #    #    #    # #####  #    # #####  
 #    # #   #  #    # #    #    #    # #   ## #    #    #    # #   #  #    # #      
 #####  #    # #    #  ####     #    # #    # #####     #####  #    #  ####  #      
                                                                                    
*/

#drag1{
	font-size: 1.25em;
}

#div1, #div2 {
	float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
	border: 1px solid black;
	text-align: center;
	line-height: 35px;
}

 .drag-section{
	margin-left:40%;
	width: 100%;
	height: 30vh;
}


/*
                                                       
 ######     ###    ########   #######  ##     ##  ######  ######## ##       
##    ##   ## ##   ##     ## ##     ## ##     ## ##    ## ##       ##       
##        ##   ##  ##     ## ##     ## ##     ## ##       ##       ##       
##       ##     ## ########  ##     ## ##     ##  ######  ######   ##       
##       ######### ##   ##   ##     ## ##     ##       ## ##       ##       
##    ## ##     ## ##    ##  ##     ## ##     ## ##    ## ##       ##       
 ######  ##     ## ##     ##  #######   #######   ######  ######## ######## 
                                                              
*/

.carousel-section{
	margin-top: 13%;
}

.carousel {
	margin-left: 0%;
	margin-right: 0%;
}

ul.slides {
	display: block;
	position: relative;
	height: 600px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
}

.slides * {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

ul.slides input {
	display: none; 
}


.slide-container { 
	display: block; 
}

.slide-image {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	transition: all .7s ease-in-out;
}   

.slide-image img {
	width: auto;
	min-width: 100%;
	height: 100%;
}

.carousel-controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	font-size: 100px;
	line-height: 600px;
	color: #fff;
}

.carousel-controls label {
	display: none;
	position: absolute;
	padding: 0 20px;
	opacity: 0;
	transition: opacity .2s;
	cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
	opacity: 0.5;
}

.carousel-controls label:hover {
	opacity: 1;
}

.carousel-controls .prev-slide {
	width: 49%;
	text-align: left;
	left: 0;
}

.carousel-controls .next-slide {
	width: 49%;
	text-align: right;
	right: 0;
}

.carousel-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	z-index: 999;
	text-align: center;
}

.carousel-dots .carousel-dot {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.5;
	margin: 10px;
}

input:checked + .slide-container .slide-image {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
	 display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }
